.iwe{
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); 
}
img{
  width: 100%;
  height: auto
}
h3{
  text-align: center;
  padding: 20px;
}
button{
  width: 100%;
  background: dodgerblue;
  padding: 5px;
}